@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  padding: 0;
  margin: 0;
  margin-top: 40px;
}

img {
  max-width: 280px;
  height: auto;
}

h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #1C486C;
  font-size: 30px;
}

.saludo{
  padding: 0 10px;
}

.container {
 background-color: #1C486C;
 padding: 30px 10px;
 margin-bottom: 20px;
}

.ubicacion{
  width: 100%;
  height: 450px;
}

.text {
 color: #fff;
}

.info {
  padding: 50px 35px;
  background-color: #A5AEB2;
  color: rgb(0, 0, 0);
}

.link {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.whats {
  width: 80px;
  height: auto;
}

a {
  font-size: 25px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: underline;
  color: #43abe7;
}

.promo {
  margin-top: 30px;
  background-color: #1C496A;
  padding: 60px 0;
  margin-bottom: 30px;
  color: #fff;
}

.promo h2 {
  font-size: 35px;
  color: #fff;
}     
.promo h3 {
  font-size: 25px;
}           

.underline {
  text-decoration: underline;
}

.clausula{
  font-size: 12px;
}
.promo_box{
  width: 280px;
  margin: 0 auto;
  border: 2px solid #FFDF2B;
}

.yellow {
  color: #FFDF2B;
}
